body{
    margin: 0;
    background-image: url("universidad.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr 50px;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    min-height: 100vh;
    justify-content: center;
}

/*Header*/
header{
    grid-area: header;
    height: 50px;
    background: rgba(255, 255, 255);
    box-sizing: border-box;
    align-items: center;
    display: flex;
}

header h1{
    flex: 1;
    align-content: center;
    padding-left: 1em;
}

header nav{
    flex: 1;
    text-align: right;
    align-content: center;
    padding-right: 2em;
}
nav a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

nav a:active{
    color: blue;;
}

nav .sign-in{
    background: blue;
    padding: 10px;
    border-radius: 10px;
    color: white;
    border: 2px solid rgb(203, 207, 221);
}
main{
    grid-area: main;
    content: center;
    align-content: center;
    flex: 1;
}

main h1{
    color: black;
    font-size: 60px;
    margin:0;
    align-content: center;
    text-align: center;
}
